@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>

@if (Employees != null)
{
    @foreach (var employee in Employees)
    {
        <div class="card mx-2">
            <img class="card-img-top imageThumbnail" src="@employee.PhotoPath" />

            <div class="card-body">
                <h5 class="card-title">@employee.FirstName @employee.LastName</h5>

                <p class="card-text">
                    Role: <strong>@employee.Roles</strong><br>
                    Gender: <strong>@employee.Gender</strong><br>
                    Email: <strong>@employee.Email</strong><br>
                    Date of birth: <strong>@employee.DateOfBirth.ToString("dd-MM-yyyy")</strong><br>
                    Department: <strong>@employee.Department.DepartmentName</strong>
                </p>
            </div>


            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-warning m-1">Edit</a>
                <a href="#" class="btn btn-Danger m-1">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="spinner"></div>
}

<style>
    .card {
        display: inline-flex;
    }
</style>